
:root {
  --background-dark: #2c2c2c;
  --text-light: black;
  --primary-blue: #014195;
  --gray: #A9A9A9;
}

.sobrePage {
    background-color: var(--background-dark);
    min-height: 100vh;
    width: 100vw;
    color: var(--text-light); /*Usando a variável de cor */
    font-family: 'League Spartan', sans-serif; /* Consistência da fonte */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--primary-blue); /* Usando a variável de cor */
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}



.contentContainer {
    background: var(--gray);;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    max-width: 800px;
    margin: 0 auto;
}

.contentContainer p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
