.StandardButton{
    background-color: #014195;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.StandardInput{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    height: 30px;
    width: 90%;
    margin-top: 15px;
}

.StandardInput::placeholder{
    color: #999;
    font-size: 14px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #014195;
    width: 100vw;
}

.h2{
    text-align: center;
    color: #014195;
}